-----------------------------------------------------
-- SLIM Function: "Engine"
-----------------------------------------------------
-- Interface info:
-- * input (PI)
---- MyInteger arg (PARAM_IN)


-- * thrust (PI)
---- MyInteger arg (PARAM_OUT)

-----------------------------------------------------
-- Implementation of "Engine"
-----------------------------------------------------
system implementation Engine.others
--
-- Write implementation here
--
end Engine.others;
