-- ==============
-- CONTRACTS.SLIM
-- ==============
-- ------
-- SYNTAX
-- ------
-- system <SLIM FUNCTION NAME>
-- properties
--   Contracts => (
--     [
--       Name => "<NAME>";
--       Assumption => "<ASSUMPTION>";
--       Guarantee => "<GUARANTEE>";
--     ],
--     ...
--   );
-- end <SLIM FUNCTION NAME>;
-- -------
-- EXAMPLE
-- -------
-- system Battery
-- properties
--   Contracts => (
--     [
--       Name => "power";
--       Assumption => "always(get_voltage >= 10)";
--       Guarantee => "always(voltage_out >= 10)";
--     ]
--   );
-- end Battery;
-- ----------------------
-- DUMP OF INTERFACE VIEW
-- ----------------------
-- Function (SDL): Controller


---- RI (Unprotected): input
------ PARAM_IN (MyInteger): input.arg

---- RI (Unprotected): thrust
------ PARAM_OUT (MyInteger): thrust.arg


-- Function (SLIM): Engine
---- PI (Unprotected): input
------ PARAM_IN (MyInteger): input.arg

---- PI (Unprotected): thrust
------ PARAM_OUT (MyInteger): thrust.arg




--
