-- ===========
-- FAULTS.SLIM
-- ===========
-- ------
-- SYNTAX
-- ------
-- system implementation <SLIM FUNCTION NAME>.others
-- properties
--   FaultInjections => (
--     [
--       Description => "<DESCRIPTION>";
--       Fault_Model => <FAULT MODEL>;
--       Fault_Dynamics => <(PERMANENT|TRANSIENT)>;
--       Probability => <PROBABILITY>;
--       Input => <RI/PI PARAMETER NAME>;
--       Varout => <RI/PI PARAMETER NAME>;
--       ParameterList => ([Name=>Term; Value=>"<VALUE>"]);
--     ],
--     ...
--   );
-- end <SLIM FUNCTION NAME>.others;
-- -------
-- EXAMPLE
-- -------
-- system implementation Generator.others
-- properties
--   FaultInjections => (
--     [
--       Description => "Dead";
--       Fault_Model => StuckAt;
--       Fault_Dynamics => Permanent;
--       Probability => 1.e-7;
--       Input => voltage_out.voltage;
--       Varout => voltage_out.voltage;
--       ParameterList => ([Name=>Term; Value=>"0"]);
--     ]
--   );
-- end Generator.others;
-- ----------------------
-- DUMP OF INTERFACE VIEW
-- ----------------------


---- RI (Unprotected): input
------ PARAM_IN (MyInteger): input.arg

---- RI (Unprotected): thrust
------ PARAM_OUT (MyInteger): thrust.arg


-- Function (SLIM): Engine
---- PI (Unprotected): input
------ PARAM_IN (MyInteger): input.arg

---- PI (Unprotected): thrust
------ PARAM_OUT (MyInteger): thrust.arg




--
